body {
    background-color: #e1e1e1;
}
.navbar {
    width: 100%;
    background-color: #444;
    font-size: 13px;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-inner {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}
.navbar-inner .container {
    width: 100%;
    /*min-width: 960px;*/
    margin: 0 auto;
    padding: 0;
}
.navbar-inner .container .nav li {
    float: left
}
.navbar-inner .container .nav li > a {
   color: #ccc;
}
.navbar-inner .container .nav li > a:hover {
    background-color: transparent;
    color: #fff;
}
.navbar .brand {
    display: block;
    width: 160px;
    height: 34px;
    padding: 3px 20px;
    margin-left: -20px;
}
 #form-search {
    margin-top: 7px;
 }
#form-search input {
    outline: none;
    width: 233px;
    padding: 3px 5px 3px 22px;
    background:  #888 url('../img/search.png') no-repeat 4px 4px ;
    border: 0;
    border-radius: 15px;
    transition: all .5s;
}
#form-search input:hover {
    background-color: #fff;
}
/*内容*/
.main {
    width: 90%;
    max-width: 1400px;
    margin: 15px auto;
    min-height: 400px;
}
.main .container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}
.main .container .row {
    margin: 0 auto;
}
#content {
    padding: 0;
    margin-right: 305px;
}
.sliderBar  {
    width: 290px;
    padding: 0;
}
@media screen and (max-width: 992px) {
    .main {
        margin: 0 auto;
        margin-top: 15px;
    }
    #content {
        margin: 0;
        margin-top: 15px;
    }
}
#content .nav li.active {
    background-color: #80bd01;
}
#content .nav li.active a {
    background-color: transparent;
}
#content .nav li.active a {
    color: #fff;
}
#content .nav li.active a:hover {
    color: #fff;
}
#content .nav li.active a:visited {
    background-color: transparent;
}
#content .nav li a {
    padding: 3px 4px;
    color: #80bd01;
}
#content .nav li a:hover {
    background-color: transparent;
    color: #005580;
}
